$primary: rgb(255, 225, 75);

@import "bootstrap";

$fontTitle: 'Silkscreen', cursive;
$fontTitle2: 'Roboto Mono', monospace;
$positionAll: center;

$bgcolors:(color1:rgb(255, 225, 75), color2:rgba(250,250,250,255));

@each $clave, $valor in $bgcolors {
    .#{$clave} {
        background-color: $valor;
    }
}

.main_title {
    padding: 0;
    margin: 0;
    font-family: $fontTitle;
    background-image: radial-gradient(white, $primary);
    text-align: $positionAll;
    font-size: 100px;

    @media (max-width: 601px){
        font-size: 50px;
    }

    @media (max-width: 300px){
        font-size: 25px;
    }
}

.main_title2 {
    margin: 0;
    padding: 15px;
    font-family: $fontTitle2;
    text-align: $positionAll;
    font-size: 25px;

    @media (max-width: 576px) {
        font-size: 15px;
    }
}

a {
    color: black;
    text-decoration: none;
}

ul li {
    @extend .main_title2;
    @extend a;
    list-style: none;
    padding: 10px 50px 0px 50px;

    @media (max-width: 576px) {
        font-size: 15px;
    }
}

.nav_color:hover {
    background-image: radial-gradient(white, $primary);
    padding: 10px 50px 18px 50px;
    color: black;
    transition: all 0.7s;
    margin: 0px;

    @media (max-width: 576px) {
        font-size: 15px;
        padding: 7px 25px 10px 25px;;
    }
}


footer {
    font-family: $fontTitle;
    font-weight: bold;
    padding: 10px;
    text-align: $positionAll;

    div {

        h2 {
            @media (max-width: 300px) {
                font-size: 20px;
            }
        }
        img {
            padding: 10px;
            width: 80px;
            height: 80px;
        }
    }
}

.intro_text {
    padding: 15px 30px 15px 30px;
    font-size: 20px;
    text-align: $positionAll;
    @media (max-width: 576px) {
        font-size: 15px;
    }
}

main {
    font-family: $fontTitle2;
    text-align: $positionAll;
}

.title_aside {
    font-family: $fontTitle;
    font-size: 30px;
    font-weight: bolder;

    @media (max-width: 576px) {
        font-size: 25px;
    }

}

.title {
    @extend .title_aside;
    font-size: 50px;

    @media (max-width: 576px) {
        font-size: 35px;
    }
}

img {
    padding: 10px;
}

